<!-- Formulario de Login -->
<mat-card>
    <!-- Cabecera -->
    <mat-card-header>

        <mat-card-title>
            Login
        </mat-card-title>
        <mat-card-subtitle>
            Accede a tu cuenta
        </mat-card-subtitle>
    </mat-card-header>
    <!-- Cuerpo de Login -->
    <mat-card-content>
        <form [formGroup]="formLogin" (submit)="submitLogin()">

            <!-- Email -->
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="email?.errors?.['required'] && email?.touched">El campo es obligatorio</mat-error>
                <mat-error *ngIf="email?.errors?.['email'] && email?.touched">Ingrese correctamente un email</mat-error>
            </mat-form-field>

            <!-- Password -->
            <mat-form-field>
                <input matInput placeholder="Password" formControlName="password" type="password">
                <mat-error *ngIf="password?.errors?.['required'] && password?.touched">El campo es
                    obligatorio</mat-error>
            </mat-form-field>

            <!-- Boton para hacer submit del formulario -->
            <!-- Se deshabilita -->
            <button mat-raised-button color="primary" type="submit" [disabled]="formLogin.invalid">Login</button>

        </form>
        <mat-card-footer>

            <a routerLink="/auth/register">Registrar cuenta</a>
        </mat-card-footer>
    </mat-card-content>
</mat-card>