:host {
  width: 100%;
}
.container-agregar-factura {
  margin: 1rem;
}

.title-agregar-factura {
  font-size: 1.2rem;
  font-weight: 500;
}
form {
  margin: auto;
  // width: 100%;
  width: min(100%, 900px);
}
mat-form-field {
  display: block;
  width: min(100%, 300px);
}
.content-btn-af {
  margin-top: 0.5rem;
}

.input-total-amount {
  margin-left: auto;
  width: 14rem;
}

.content-btn-submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
