<!-- Formulario de Agregar Factura -->
<!-- <mat-card>
    <mat-card-header>

        <mat-card-title> -->
<div class="container-agregar-factura">
    <p class="title-agregar-factura">
        Cargar Factura
    </p>
    <!-- </mat-card-title>
    </mat-card-header> -->
    <!-- Cuerpo de Agregar Factura -->
    <!-- <mat-card-content> -->
    <form [formGroup]="formFactura" (submit)="submitFactura()">

        <!-- Id Empresa -->
        <ng-container *ngIf="!idEmpresa?.value; else AgregarFactura">

            <mat-form-field>
                <mat-label>
                    Seleccione una Empresa
                </mat-label>
                <mat-select formControlName="idEmpresa">
                    <mat-option *ngFor="let emp of listEmpresas$|async" [value]="emp.id"
                        (click)="selectEmpresa(emp.nombre);cargarArticulos(emp.id)">
                        {{emp.nombre}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="idEmpresa?.errors?.['required']">Selecionar una empresa</mat-error>
            </mat-form-field>
        </ng-container>
        <ng-template #AgregarFactura>
            <mat-form-field>
                <mat-label>
                    Empresa
                </mat-label>
                <input matInput type="text" [value]="nombreEmpresa?.value" readonly="readonly">
            </mat-form-field>
            <mat-divider></mat-divider>
            <div class="content-btn-af">
                <button mat-raised-button color="primary" type="button" (click)="agregarArticulo()">Agregar
                    Articulo</button>
            </div>

            <app-table-lineas-factura (emitterDelete)="deleteLF($event)"
                [sourceTable]="listLineasFacturas.value"></app-table-lineas-factura>

            <mat-form-field class="input-total-amount">
                <mat-label>Precio Total</mat-label>
                <input matInput [value]="precioTotal?.value|currency" readonly="readonly">
            </mat-form-field>

            <!-- Boton para hacer submit del formulario -->
            <!-- Se deshabilita -->
            <div class="content-btn-submit">
                <button mat-raised-button color="primary" type="submit" [disabled]="!listLineasFacturas.length">Guardar
                    Factura</button>
            </div>
        </ng-template>
    </form>
</div>