<h3 class="title-empresas">Empresas</h3>
<ng-container *ngIf="btnAction;else DetalleEmpresa">

    <div class="btn-action-empresa">
        <button mat-raised-button color="primary" (click)="clickBtnAction(false)">
            <mat-icon>add_box</mat-icon>
            <div>
                Agregar Empresa
            </div>
        </button>
    </div>
    <div class="card-list">
        <app-card (modificar)="changeEmpresa($event)" (eliminar)="deleteEmpresa($event)"
            *ngFor="let element of listEmpresas$|async" [sourceCard]="element"></app-card>
    </div>
    <mat-paginator [length]="totalItems" [pageIndex]="currentPage-1" (page)="clickPage($event)" [pageSize]="limitPage">
    </mat-paginator>
</ng-container>


<ng-template #DetalleEmpresa>
    <div class="btn-action-empresa">
        <button mat-raised-button color="warn" type="button" (click)="clickBtnAction(true)">
            <mat-icon>cancel</mat-icon>
            <div>
                Cancelar
            </div>
        </button>
    </div>

    <app-detalle-empresa [paises]="listPaises" (selectedPais)="obtenerProvincias($event)" [provincias]="listProvincias"
        (selectedProvincia)="obtenerDepartamentos($event)" [departamentos]="listDepartamentos"
        (selectedDepartamento)="obtenerLocalidades($event)" [localidades]="listLocalidades"
        (selectedLocalidad)="obtenerBarrios($event)" [barrios]="listBarrios" (crearEmpresa)="crearEmpresa($event)"
        [sourceEmpresa]="ModificarEmpresa" (empresaModificada)="modificarEmpresa($event)"></app-detalle-empresa>
</ng-template>