.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.space-toolbar {
  flex: 1 1 auto;
}
.container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 56px);
}


@media only screen and (min-width:600px) {
  .container{
    min-height: calc(100vh - 64px);
  }
}