<!-- Formulario para Resgistrarse -->
<mat-card>
    <!-- Cabecera -->
    <mat-card-header>
        <mat-card-title>
            Registrar
        </mat-card-title>
        <mat-card-subtitle>
            Crea tu cuenta
        </mat-card-subtitle>
    </mat-card-header>

    <!-- Cuerpo de Registrar -->
    <mat-card-content>
        <form [formGroup]="formRegister" (submit)="submitRegister()">

            <!-- Email -->
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="email?.errors?.['required'] && email?.touched">El campo es obligatorio</mat-error>
                <mat-error *ngIf="email?.errors?.['email'] && email?.touched">Ingrese correctamente un email</mat-error>
            </mat-form-field>

            <!-- Nombre -->
            <mat-form-field>
                <input matInput placeholder="Nombre" formControlName="nombre" type="email">
                <mat-error *ngIf="nombre?.errors?.['required'] && nombre?.touched">El campo es obligatorio</mat-error>
            </mat-form-field>
            <!-- Apellido -->
            <mat-form-field>
                <input matInput placeholder="Apellido" formControlName="apellido" type="text">
                <mat-error *ngIf="apellido?.errors?.['required'] && apellido?.touched">El campo es
                    obligatorio</mat-error>
            </mat-form-field>
            <!-- Password -->
            <mat-form-field>
                <!-- Cambiar Type a password -->
                <input matInput placeholder="Password" formControlName="password" type="password">
                <mat-error *ngIf="password?.errors?.['required'] && password?.touched">El campo es
                    obligatorio</mat-error>
                <mat-error
                    *ngIf="password?.errors?.['minlength'] && password?.touched && !password?.errors?.['required']">Debe
                    contener al mennos 8 caracteres</mat-error>
                <mat-error *ngIf="password?.errors?.['pattern'] && password?.touched">requiere:
                    minuscula, mayuscula, numero y signo({{this.signosPattern}})</mat-error>
            </mat-form-field>

            <!-- Boton para Cancelar -->
            <button class="btn" mat-raised-button color="warn" type="button" routerLink="/auth/login">Cancelar</button>
            <!-- Boton para Registrarse -->
            <button class="btn" mat-raised-button color="primary" [disabled]="formRegister.invalid || !flagSubmit"
                type="submit">Registrar</button>
            <p>{{password?.errors|json}}</p>
        </form>
    </mat-card-content>
</mat-card>